.block_wrap {
    width: auto;
    margin: 0 auto;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
}
.chapter_wrap {
    background: white;
    text-align: left;
    border-radius: 8px;
    color: #333333;
    margin-bottom: 15px;
    font-size: 14px;
    overflow: hidden;
}
.title_item_wrap {
    padding: 10px 10px 10px 0;
    margin: 0 10px 0 10px;
    border-bottom: none;
    display: flex;
    align-items: center;
}
/*使用伪类进行图标绘画*/
.title_item_wrap::after {
    content: '';
    width: 10px;
    height: 10px;
    border-top: 2px solid #999999;
    border-right: 2px solid #999999;
    transform: rotate(-45deg);
    display: inline-block;
    transition: 0.3s;
    float: right;
    margin-top: 10px;
}
/*使用类acitve类控制图标的旋转和展开时标题的下边界*/
.active {
    border-bottom: 1px solid #000;
}
.active::after{
    transform: rotate(135deg);
    margin-top: 5px;
}
